// COLORS
$color_primary: blue;
$color_emerald: #009B77;
$color_white: #fcfbfb;
$color_dark: #0c0c0c;
$color_gray: #c0c0c0;
$color_warning: yellow;
$color_danger: red;
$color_success: green;


// VARS
$border_radius: 4px;

