// COLORS
$color_primary: blue;
$color_emerald: #009B77;
$color_white: #fcfbfb;
$color_light: #f1f1f1;
$color_dark: #0c0c0c;
$color_gray: #c0c0c0;
$color_warning: yellow;
$color_danger: #f31111;
$color_success: green;


// VARS
$border_radius: 4px;
$gap1: .4rem;
$gap2: .7rem;
$gap3: 1rem;
$gap4: 1.4rem;
$gap5: 1.7rem;
$gap6: 2rem;

